body {
    margin: 0;
    padding: 0;
    top: 80px;
    bottom: 20px;
    font-family: "Galvji";
}
.block {
    background: white;
    display: block;
    width: fit-content;
}

#title {
    font-size: 24px;
    font-weight: bolder;
    font-display: block;
    text-align: center;
    position: relative;
    margin: 36px;
}

#subtitle {
    font-size: 18px;
    font-weight: normal;
    color: olive;
    font-display: block;
    text-align: center;
    position: relative;
    margin: 36px;
}

#footer {
    font-size: 14px;
    font-weight: normal;
    color:darkslategrey;
    font-display: block;
    text-align: left;
    position: absolute;
    margin-top: 14px;
    padding: 10px;
}

#map {
    position: absolute;
    top: 140px;
    bottom: 20px;
    width: 100%;
}

/* adding a tool bar that switches map background */
#menu {
    position: absolute;
    background: #efefef;
    padding: 10px;
}
